// All Pages
.page{
    .page-header{
        padding: $grid-gutter * 2 0;
        text-align: center;
    }
}

// Home
.page.home{
    #top{
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: $grid-gutter / 2 0;

        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            background-color: theme-color(white);
            border-radius: 5px;
            padding: $grid-gutter;
            text-align: center;

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-up(md){
                flex: 0 0 50%;
            }

            h1{
                font-size: 1.5em;
            }

            p{
                font-size: 1.1em;
                max-width: 500px;
                margin: 0 auto $grid-gutter;
            }

            #searchWrap{
                max-width: 500px;
                margin: 0 auto 10px;
                text-align: left;
            }

            a{
                font-size: .9em;
                color: theme-color(darkgrey);
                text-decoration: underline;
            }
        }

        // .squares-top, 
        // .squares-bottom{
        //     display: none;
            
        //     @include media-breakpoint-up(md){
        //         flex: 0 0 100%;
        //         display: flex;
        //     }
        // }
        
        // .squares-left, 
        // .squares-right{
        //     flex: 0 0 100%;

        //     & > div{
        //         display: flex;

        //         &:first-child{
        //             display: none;
        //         }
        //     }

        //     @include media-breakpoint-up(md){
        //         flex: 0 0 25%;
                

        //         & > div{
        //             &:first-child{
        //                 display: flex;
        //             }
        //         }
        //     }

            
        // }

        // .square{
        //     flex: 1;
        //     background-color: theme-color(black);
        //     margin: $grid-gutter / 2;

        //     &:after {
        //         content: "";
        //         display: block;
        //         padding-bottom: 100%;
        //       }
        // }
        
       
    }

    #searchResults{
        display: none;
        
        &.active{
            display: block;
        }
    }

    #about{
        .container{
            max-width: 800px;

            .wp-block-columns{
                margin-bottom: $grid-gutter * 2;
            }
        }
    }

    #allStar{
        .section-header{
            border: 2px solid theme-color(blue);
            border-bottom: 0;
            max-width: 100%;
            margin: 0 -15px $grid-gutter;
            
            .header-wrap{
                max-width: 600px;
                margin: -$grid-gutter / 2 auto $grid-gutter;

                h2{
                    display: inline-block;
                    background-color: theme-color(white);
                    padding: 0 $grid-gutter;
                }
            }

        }
        
        .section-footer{
            margin-bottom: $grid-gutter;
        }

        #starList{
            display: flex;
            flex-flow: column wrap;
            max-height: 650px;

            .rep-block{
                @extend .col-md-3;
                background-color: transparent;
                margin-bottom: 0;

                .portrait{
                    width: 100%;
                    margin-bottom: 5px;
                    
                    img{
                        width: 100%;

                    }
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(6){
                    flex: 0 0 12.5%;
                    max-width: 12.5%;
                }

                &:nth-child(2){
                    margin-top: $grid-gutter;
                }

                &:nth-child(5){
                    margin-top: $grid-gutter * 4;
                }
            }
        }
    }

    #hallOfShame{
        background-color: theme-color(grey);

        .container{
            position: relative;

            .row{
                position: absolute;
                z-index: 2;
                width: 50%;
            }
        }

        .slick-slide{
            .rep-block{
                padding: 10px;

                .portrait{
                    width: 100%;
                }
            }
        }

        .arrows{
            display: flex;

            .arrow{
                font-size: 30px;
                margin-right: 10px;
                cursor: pointer;

                &:hover{
                    color: theme-color(green);
                }
            }
        }
    }

    #honorableMentions{
        .rep-block{
            background-color: transparent;

            .portrait{
                width: 100%;
            }

            h3{
                font-family: $gilam;
                font-weight: 600;
                font-size: 1.5em;
                margin: $grid-gutter / 2 0;
            }

            h5{
                font-family: $gilam;
                font-size: .8em;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            p{
                line-height: 1;
            }
        }
    }

    .main section{
        padding: 100px 0;

        .section-header{
            text-align: center;
            max-width: 600px;
            margin: 0 auto $grid-gutter * 2;
        }

        .section-footer{
            margin-top: $grid-gutter * 2;
            text-align: center;
        }
    }
}

// All Legislators
.page.all-representatives{
    #tableWrap{
        max-width: 800px;
        margin: $grid-gutter auto;
    }
}

//All Stars and Hall of Shame
.page.all-stars, 
.page.hall-of-shame{
    #top{
        text-align: center;
        padding: $grid-gutter * 2 0;
    }

    #photos{
        margin-bottom: 100px;
        
        .photos-wrap{
            max-width: 800px;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .photo{
                flex: 0 0 70px;
                margin: $grid-gutter / 3;
            }
        }
    }
}

//Contributions
.page.contributions{
    @include media-breakpoint-down(md){
        .wp-block-columns{
            flex-flow: column-reverse;
        }
    }
}

//Bills
.page.bills{
    #tableWrap{
        max-width: 700px;
        margin: auto;
    }

    tbody{
        transition: .25s;
    }
}

// Partners
.page.partners{
    #partners{
        margin: $grid-gutter 0;

        .row{
            justify-content: center;
            margin-bottom: $grid-gutter * 2;
            align-items: center;
        }

    }
    
    .partner{
        text-align: center;
        margin-bottom: $grid-gutter * 2;

        a{
            transition: .25s;

            &:hover{
                opacity: .6;
            }
        }

        img{
            max-height: 70px;
            width: auto;
        }
    }

    .page-header{
        max-width: 800px;
        margin: $grid-gutter auto;
    }
    
    #extra{
        max-width: 800px;
        margin: $grid-gutter auto $grid-gutter * 2;
        text-align: center;

        &:before{
            content: '';
            display: block;
            width: 200px;
            border-top: 1px solid theme-color(black);
            margin: $grid-gutter * 2 auto;
        }
    }
}

// About 
.page.about{
    .main .container{
        padding-top: $grid-gutter * 2;

        &>*{
            max-width: 880px;
            margin: 0 auto $grid-gutter;
            
            &.wp-block-columns{
                max-width: 1200px;
            }
        }

        h3{
            margin-bottom: $grid-gutter / 2;
        }

        .page-header{
            display: none;
        }
    }
}

//Legislator Blocks
.rep-block{
    background-color: theme-color(grey);
    padding: $grid-gutter;
    margin-bottom: $grid-gutter;

    .top{
        display: flex;
        flex-flow: row-reverse wrap;

        .portrait{
            flex: 0 0 120px;
        }

        .rep-name-title{
            flex: 1;
            margin-left: $grid-gutter / 2;
        }

        .rep-info{
            margin-top: 10px;
            order: 3;
            flex: 1 0 100%;
        }

        @include media-breakpoint-up(lg){
            flex-flow: column wrap;
            max-height: 170px;
            align-content: space-between;

            .rep-name-title{
                margin-left: 0;
                margin-right: 10px;
                width: 68%;
            }

            .rep-info{
                order: 0;
                padding-right: $grid-gutter;
            }
        }


    }

    .portrait{
        width: 120px;
    }

    .excerpt{
        padding-top: 10px;

        p:last-child{
            margin-bottom: 0;
        }
    }

    &.vertical{
        .portrait{
            margin-bottom: 5px;
        }

        h3,
        h4{
            font-family: $lato;
            font-weight: 400;
            font-size: 1em;
            margin-bottom: 5px;
        }

        h4{
            font-size: .9em;
        }

        .grade{
            margin-top: 10px;
        }
    }
}