// All Pages
.page{
    .page-header{
        padding-top: $grid-gutter * 2;
        text-align: center;
    }
}

// Home
.page.home{
    #top{
        display: flex;
        flex-flow: row wrap;
        padding: $grid-gutter / 2;

        .squares-top, 
        .squares-bottom{
            flex: 0 0 100%;
            display: flex;
        }
        
        .squares-left, 
        .squares-right{
            flex: 0 0 25%;
            
            & > div{
                display: flex;
            }
        }

        .square{
            flex: 1;
            background-color: theme-color(black);
            margin: $grid-gutter / 2;

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
              }
        }
        
        .content{
            flex: 0 0 50%;
            background-color: theme-color(white);
            border-radius: 5px;
            padding: $grid-gutter;
            text-align: center;

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            #searchWrap{
                max-width: 500px;
                margin: 0 auto 10px;
                text-align: left;
            }

            a{
                color: theme-color(darkgrey);
                text-decoration: underline;
            }
        }
    }

    #searchResults{
        display: none;
        
        &.active{
            display: block;
        }
    }

    #hallOfShame{
        background-color: theme-color(grey);
    }

    .main section{
        padding: 100px 0;

        .section-header{
            text-align: center;
            max-width: 600px;
            margin: 0 auto $grid-gutter * 2;
        }

        .section-footer{
            margin-top: $grid-gutter * 2;
            text-align: center;
        }
    }
}

// All Legislators
.page.all-representatives{
    #tableWrap{
        max-width: 800px;
        margin: $grid-gutter auto;
    }
}

//All Stars and Hall of Shame
.page.all-stars, 
.page.hall-of-shame{
    #top{
        text-align: center;
        padding: $grid-gutter * 2 0;
    }
}

//Legislator Blocks
.rep-block{
    background-color: theme-color(grey);
    padding: $grid-gutter;
    margin-bottom: $grid-gutter;

    .top{
        display: flex;

        .rep-info{
            flex: 1;
            padding-right: $grid-gutter;
        }
    }

    .portrait{
        width: 120px;
    }

    .excerpt{
        padding-top: 10px;

        p:last-child{
            margin-bottom: 0;
        }
    }
}