// All Pages
.page{
    .page-header{
        padding: $grid-gutter * 2 0 $grid-gutter;
        text-align: center;
        
        @include media-breakpoint-up(md){
            padding: $grid-gutter * 2 0;
        }
    }
}

// Home
.page.home{
    #top{
        position: relative;
        width: 100%;
        background-size: 0;
        padding-top: 0;

        .content{
            padding: $grid-gutter;
            text-align: center;

            a{
                font-size: .9em;
                color: theme-color(darkgrey);
                text-decoration: underline;
            }
        }

        @include media-breakpoint-up(md){
            height: 0;
            padding-top: 40%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: $grid-gutter / 2 0;

            .mobile-bg{
                display: none;
            }

            .content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                background-color: theme-color(white);
                border-radius: 5px;
                

                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                @include media-breakpoint-up(md){
                    flex: 0 0 50%;
                }

                h1{
                    font-size: 1.5em;
                }

                p{
                    font-size: 1.1em;
                    max-width: 500px;
                    margin: 0 auto $grid-gutter;
                }

                #searchWrap{
                    max-width: 500px;
                    margin: 0 auto 10px;
                    text-align: left;
                }
            }       
        }
    }

    #searchResults{
        display: none;
        
        &.active{
            display: block;
        }

        h5{
            margin-bottom: $grid-gutter * 2;
        }
    }

    #about{
        .container{
            max-width: 800px;

            .intro{
                font-size: 1.3em;
                margin-bottom: $grid-gutter * 2;
            }

            .wp-block-columns{
                margin-bottom: $grid-gutter * 2;

                @include media-breakpoint-down(sm){
                &:nth-of-type(even){
                    flex-flow: column-reverse;    
                    }
                }
            }
        }
    }

    #allStar{
        @include media-breakpoint-up(md){
            .section-header{
                border: 2px solid theme-color(blue);
                border-bottom: 0;
                max-width: 100%;
                margin: 0 -15px $grid-gutter;
                
                .header-wrap{
                    max-width: 600px;
                    margin: -$grid-gutter / 2 auto $grid-gutter;

                    h2{
                        display: inline-block;
                        background-color: theme-color(white);
                        padding: 0 $grid-gutter;
                    }
                }
            }
        }
        
        .section-footer{
            margin-bottom: $grid-gutter;
        }

        #starList{

            .rep-block{
                @extend .col-md-4;
                @extend .col-lg-2;
                background-color: transparent;
                margin-bottom: 0;
                
                .portrait{
                    width: 100%;
                    margin-bottom: 5px;
                    
                    img{
                        width: 100%;
                        
                    }
                }
            }
                
            @include media-breakpoint-up(md){

                .rep-block{

                    // &:nth-child(1),
                    // &:nth-child(2),
                    // &:nth-child(6){
                    //     flex: 0 0 12.5%;
                    //     max-width: 12.5%;
                    // }
    
                    // &:nth-child(3){
                    //     margin-top: $grid-gutter;
                    // }
    
                    // &:nth-child(5){
                    //     margin-top: $grid-gutter * 4;
                    // }
                }
            }
        }
    }

    #hallOfShame{
        background-color: theme-color(grey);

        .container{
            position: relative;

            .row{
                margin-bottom: $grid-gutter;
            }

            @include media-breakpoint-up(md){
                .row{
                    margin-bottom: 0;
                    position: absolute;
                    z-index: 2;
                    width: 50%;
                }
            }
        }

        .slick-slide{
            .rep-block{
                padding: 10px;

                .portrait{
                    width: 100%;
                }
            }
        }

        .arrows{
            display: flex;
            justify-content: center;
            
            @include media-breakpoint-up(md){
                justify-content: flex-start;
            }

            .arrow{
                font-size: 30px;
                margin-right: 10px;
                cursor: pointer;

                &:hover{
                    color: theme-color(green);
                }
            }
        }
    }

    #scorecardBanner{
        text-align: center;

        .row{
            align-items: center;
        }

        .image{
            text-align: center;
            margin-bottom: $grid-gutter / 2;

            img{
                max-width: 300px;
            }
        }

        @include media-breakpoint-up(md){
            text-align: left;

            .image{
                margin-bottom: 0;
            }
        }
    }

    .main section{
        padding: 50px 0;
        
        @include media-breakpoint-up(md){
            padding: 100px 0;
        }

        .section-header{
            text-align: center;
            max-width: 600px;
            margin: 0 auto $grid-gutter * 2;
        }

        .section-footer{
            margin-top: $grid-gutter * 2;
            text-align: center;
        }
    }
}

// All Legislators
.page.all-representatives{
    #tableWrap{
        max-width: 800px;
        margin: $grid-gutter auto;
        font-size: .8em;

        th{
            padding: 5px;
        }

        .dtr-details{
            list-style: none;
            padding-left: 0;

            .dtr-title{
                font-weight: bold;
            }
        }

        @include media-breakpoint-up(md){
            font-size: 1em;
        }
        
    }
}

//All Stars and Hall of Shame
.page.all-stars, 
.page.hall-of-shame{
    #top{
        text-align: center;
        padding: $grid-gutter * 2 0;
    }

    #photos{
        margin-bottom: 100px;
        
        .photos-wrap{
            max-width: 800px;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .photo{
                flex: 0 0 70px;
                margin: $grid-gutter / 3;
            }
        }
    }

    #dishonorableMentions,
    #honorableMentions{
        margin-top: $grid-gutter * 2;

        .section-header{
            text-align: center;
            max-width: 800px;
            margin: auto;
        }
        
        .rep-block{
            display: flex;
            flex-direction: row-reverse;

            .rep-content{
                flex: 1;
                padding-right: 20px;
            }

            h3{
                font-family: $gilam;
                font-weight: 600;
                font-size: 1.5em;
                margin: 0;
            }

            h4{
                margin-bottom: $grid-gutter / 2;
            }

            .explanation{
                margin: -10px 0 10px;
            }
        }
    }
}

//Contributions
.page.contributions{
    @include media-breakpoint-down(md){
        .wp-block-columns{
            flex-flow: column-reverse;
        }
    }
}

//Bills
.page.bills{
    #tableWrap{
        max-width: 700px;
        margin: auto;
    }

    tbody{
        transition: .25s;
    }
}

// Partners
.page.partners{
    #partners{
        margin: $grid-gutter 0;

        .row{
            justify-content: center;
            margin-bottom: $grid-gutter * 2;
            align-items: center;
        }

    }
    
    .partner{
        text-align: center;
        margin-bottom: $grid-gutter * 2;

        a{
            transition: .25s;

            &:hover{
                opacity: .6;
            }
        }

        img{
            max-height: 70px;
            width: auto;
        }
    }

    #partnersNoLogo{
        ul{
            columns: 3;
            column-gap: $grid-gutter;
            
            li{
                list-style: none;
                margin-bottom: 20px;
                text-align: center;
                font-family: $gilam;
            }
        }
    }

    .page-header{
        max-width: 800px;
        margin: $grid-gutter auto;
    }
    
    #extra{
        max-width: 800px;
        margin: $grid-gutter auto $grid-gutter * 2;
        text-align: center;

        &:before{
            content: '';
            display: block;
            width: 200px;
            border-top: 1px solid theme-color(black);
            margin: $grid-gutter * 2 auto;
        }
    }
}

// About 
.page.about{
    .main .container{
        padding-top: $grid-gutter * 2;

        &>*{
            max-width: 880px;
            margin: 0 auto $grid-gutter;
            
            &.wp-block-columns{
                max-width: 1200px;
            }
        }

        h3{
            margin-bottom: $grid-gutter / 2;
        }

        .page-header{
            display: none;
        }

        .logo{
            margin-bottom: $grid-gutter;
            display: flex;
            align-items: center;
            justify-content: center;


            img{
                width: 80%;
            }
        }
    }
}

//Legislator Blocks
.rep-block{
    background-color: theme-color(grey);
    padding: $grid-gutter / 2;
    margin-bottom: $grid-gutter;
    scroll-margin-top: $headerHeight + $grid-gutter;
    
    @include media-breakpoint-up(md){
        padding: $grid-gutter;
        scroll-margin-top: $headerHeightDesktop + $grid-gutter;
    }

    .top{
        display: flex;
        flex-flow: row-reverse wrap;

        .portrait{
            flex: 0 0 120px;

        }

        .rep-name-title{
            flex: 1;
            margin-left: $grid-gutter / 2;
        }

        .rep-info{
            margin-top: 10px;
            order: 3;
            flex: 1 0 100%;
        }

        @include media-breakpoint-up(lg){
            flex-flow: column wrap;
            max-height: 240px;
            align-content: space-between;

            .rep-name-title{
                margin-left: 0;
                margin-right: 10px;
                width: 68%;
            }

            .rep-info{
                order: 0;
                padding-right: $grid-gutter;
            }
        }


    }

    .portrait{
        width: 120px;
        
        .portrait-wrap{
            position: relative;
            height: 0;
            padding-top: 100%;
            overflow: hidden;

            img{
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }

    .excerpt{
        padding-top: 10px;

        p:last-child{
            margin-bottom: 0;
        }
    }

    &.vertical{
        .portrait{
            margin-bottom: 5px;
        }

        h3,
        h4{
            font-family: $lato;
            font-weight: 400;
            font-size: 1em;
            margin-bottom: 5px;
        }

        h5{
            font-family: $gilam;
            font-size: .8em;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        h4{
            font-size: .9em;
        }

        .grade{
            margin-top: 10px;
        }
    }
}

//Donate Page
.page.donate{
    .wp-block-columns{
        flex-direction: column-reverse;

        @include media-breakpoint-up(md){
            flex-direction: row;
        }
    }
}

// Custom Score
.template-custom-score{
    .page-header{
        padding-bottom: $grid-gutter / 2;
    }

    .intro{
        max-width: 800px;
        margin: auto;
        padding-bottom: $grid-gutter;
    }
}