// All Pages
.page{
    .page-header{
        padding-top: $grid-gutter * 2;
        text-align: center;
    }
}

// Home
.page.home{
    #top{
        height: 100vh;
        background: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .content{
            width: 100%;
            max-width: 800px;
            background-color: theme-color(white);
            border-radius: 5px;
            padding: $grid-gutter;
            text-align: center;

            #searchWrap{
                max-width: 500px;
                margin: 0 auto 10px;
                text-align: left;
            }

            a{
                color: theme-color(darkgrey);
                text-decoration: underline;
            }
        }
    }
}

// All Legislators
.page.all-legislators{
    
}

//All Stars and Hall of Shame
.page.all-stars, 
.page.hall-of-shame{
    #top{
        text-align: center;
        padding: $grid-gutter * 2 0;
    }
}

//Legislator Blocks
.legislator-block{
    background-color: theme-color(grey);
    padding: $grid-gutter;
    margin-bottom: $grid-gutter;

    .top{
        display: flex;

        .info{
            flex: 1;
            padding-right: $grid-gutter;

            h3{
                margin-bottom: 0;
            }

            h4{
                color: theme-color(darkgrey);
                font-family: $lato;
                font-size: 1em;
                text-transform: capitalize;
            }

            a{
                border-bottom: 0;
            }

            table{
                width: 100%;
                border-top: 1px solid theme-color(darkgrey);

                th{
                    padding-top: 10px;
                    padding-left: 0;
                }

                tr{
                    vertical-align: top;
                }
            }
        }
    }

    .portrait{
        width: 120px;
    }

    .excerpt{
        padding-top: 10px;

        p:last-child{
            margin-bottom: 0;
        }
    }
}