.single-people{
    article{
        padding-top: $grid-gutter * 2;
    }

    #general{
        margin-bottom: $grid-gutter;
        background-color: theme-color(grey);
        border-radius: 10px;
        padding: $grid-gutter;

        .representative-block{
            padding: 0;

            .top{
                display: flex;
                padding-bottom: $grid-gutter;

                .rep-name-title{
                    flex: 1;
                    padding-right: $grid-gutter;
                }
            }
        }
    }

    #sections{
        section{
            margin-bottom: $grid-gutter * 2;
        }
    }

    #mapContainer{
        max-width: 100%;
        height: 200px;

        .mapboxgl-control-container{
            display: none;
        }

        canvas:focus{
            outline: 0;
        }
    }
}