/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
);

$black: #000000;
$white: #ffffff;
$grey: #EEF1F2;
$darkgrey: #8D8D8D;
$green: #12F28F;
$red: #F81140;
$orange: #F8611E;
$yellow: #F7E448;
$blue: #2398EF;

$grid-gutter: 25px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;



// Fonts
$lato:"Lato", sans-serif;
$gilam:"Gilam", sans-serif;

@font-face {
  font-family: 'Gilam';
  src: url('../../fonts/Gilam-Semibold.woff2') format('woff2'),
      url('../../fonts/Gilam-Semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal; 
  font-display: swap;
}
