$headerHeight: 75px;

header.banner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    z-index: 99;
    background-color: theme-color(white);
    border-bottom: 1px solid theme-color(black);
}

.wrap{
    min-height: 100vh;
    margin-top: $headerHeight;
    padding-top: $grid-gutter;
}

.vote-row{
    margin-bottom: $grid-gutter;
    padding: $grid-gutter / 2 0;
    border-bottom: 1px solid black;

    &:last-child{
        border-bottom: 0;
    }

    .vote-casted{
        .square{
            display: inline-block;
            padding: 5px;
            text-align: center;
            width: 70px;
        }
    }
}