$headerHeight: 80px;

html, body{
    min-height: 100%;
    height: auto;
    position: relative;
}

.wrap{
    min-height: 100vh;
    margin-top: $headerHeight;
}

img{
    max-width: 100%;
    height: auto;
}

// Typography
p{
    font-family: $lato;
}

a{
    color: inherit;
    display: inline-block;
    border-bottom: 1px dotted theme-color(black);
}

h1, h2, h3, h4{
    font-family: $gilam;
}

h6,
.legend{
    font-family: $anon-pro;
}

.vote-row{
    margin-bottom: $grid-gutter;
    padding: $grid-gutter / 2 0;
    border-bottom: 1px solid black;

    &:last-child{
        border-bottom: 0;
    }

    .vote-casted{
        .square{
            display: inline-block;
            padding: 5px;
            text-align: center;
            width: 70px;
        }
    }
}

//Search
#searchWrap{
    display: flex;
    flex-flow: row wrap;

    select{
        border-radius: 0;
        border: 0;
        outline: 0;
        font-size: .8em;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .search-container{
        display: none;
        width: 100%;

        &.active{
            display: flex;
        }

        input{
            background: theme-color(grey);
            //color: theme-color(darkgrey);
            border: 0;
            outline: 0;
            padding: 5px 10px;
            flex-basis: 100%;
            min-width: 0;
            
            &::placeholder{
                color: theme-color(darkgrey);
            }
        }

        button{
            background-color: theme-color(black);
            color: theme-color(white);
            border: 0;
            outline: 0;
            width: 40px;
        }
    }
}