/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
  black: #000000,
  white: #ffffff,
  grey: #EEF1F2,
  darkgrey: #A3A3A3,
  green: #02D578,
  red: #F81140,
  orange: #FF5300,
  yellow: #FAE500,
  blue: #0094EE,
);

$grid-gutter: 25px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;



// Fonts
$anon-pro:"Anonymous Pro", monospace;
$lato:"Lato", sans-serif;
$gilam:"Gilam", sans-serif;

@font-face {
  font-family: 'Gilam';
  src: url('/app/themes/couragescore2021/resources/assets/fonts/Gilam-Bold.woff2') format('woff2'),
      url('/app/themes/couragescore2021/resources/assets/fonts/Gilam-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal; 
  font-display: swap;
}
